<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reyzar.oa.act.dao.IActivitiDao">
	
	<select id="findOne" resultType="java.util.Map">
		select t.* from ${tableName} as t where id = #{id}
	</select>
	
	<select id="findByColumn" resultType="java.util.Map">
		select t.* from ${tableName} as t where 1 = 1
		<foreach collection="columnsMap.keys" item="key" >  
            AND ${key} = #{columnsMap[${key}]} 
        </foreach>
	</select>
	
	<select id="findInAssignColumn" resultType="java.util.Map">
		select t.* from ${tableName} as t where 
		${column} in
		<foreach collection="dataList" item="data" index="index" open="(" close=")" separator=",">
            #{data}
        </foreach>
	</select>

</mapper>