<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reyzar.oa.dao.IAdWorkMarketBackDao">
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO ad_work_market_back(
			  	USER_ID,
			  	WORK_MARKET_ID,
			  	CREATE_DATE,
			  	CONTENT
			) 
			VALUES (
			  	#{userId},
			  	#{workMarketId},
			  	#{createDate},
			  	#{content}
			)
	</insert>
	
	
	
	
	
</mapper>